.dropzone {
    background-color: var(--slate-50);
}

.dropzone .dz-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropzone .dz-remove:hover::after {
    background-color: var(--base-color-600);
}

.dz-progress,
.dz-size {
    display: none !important;
}
